<launch>
    <machine name="joystick" address="herb0" />

    <node machine="joystick" pkg="joy" type="joy_node" name="joy" output="screen">
        <!-- republish last command if none received in last 1/5 seconds -->
        <param name="~autorepeat_rate" value="5" />
    </node>
    <node machine="joystick" pkg="pr_joy" type="joy.py" name="prjoy"/>
</launch>
