<launch>
    <node pkg="robot_localization" type="ukf_localization_node"
          name="ukf_localization" clear_params="true">
        <rosparam command="load" file="$(find herb_launch)/config/localization.yaml"/>
    </node>

    <node pkg="stargazer" type="stargazer_publisher.py" name="stargazer"
          clear_params="true">
        <remap from="robot_pose" to="stargazer/robot_pose"/>
        <remap from="robot_pose_array" to="stargazer/robot_pose_array"/>
        <rosparam command="load" file="$(find herb_launch)/config/stargazer.yaml"/>
    </node>
</launch>
