<launch>
  <!-- https://github.com/personalrobotics/rcnn_pose -->
  <node pkg="rcnn_pose" type="rcnn_projection.py" name="rcnn_pose" output="screen">
    
    <remap from="~image" to="/multisense/left/image_rect_color/compressed"/>
    <remap from="~camera_info" to="/multisense/left/image_rect/camera_info"/>
    
  </node>
</launch>
