<launch>
  <group ns="right">
    <rosparam command="load" file="$(find herb_launch)/config/owd_base.yaml"/>
    <rosparam command="load" file="$(find herb_launch)/config/owd_right.yaml"/>

    <node pkg="owd" type="owd" name="owd" output="screen" respawn="false">
      <param name="calibration_file" type="string"
             value="$(find herb_launch)/calibration/right_wam_joint_calibrations"/>
      <!-- TODO: Load hybrid_plugin and owd_ortraj. -->
      <param name="owd_plugins" type="string" value=""/>
    </node>
  </group>
</launch>
