<launch>
  <node pkg="libbarrett_ros" type="controller" name="controller" output="screen">

    <rosparam command="load"
              file="$(find herb_launch)/config/ros_control.yaml"/>

    <param name="buses/right_arm/configuration_path" type="str"
           value="$(find herb_launch)/libbarrett_config/right_arm/default.conf"/>

    <param name="buses/left_arm/configuration_path" type="str"
           value="$(find herb_launch)/libbarrett_config/left_arm/default.conf"/>

    <rosparam command="load" ns="buses/right_arm/schedule"
              file="$(find herb_launch)/config/ros_control_schedule.yaml"/>

    <rosparam command="load" ns="buses/left_arm/schedule"
              file="$(find herb_launch)/config/ros_control_schedule_left.yaml"/>
  </node>

  <rosparam command="load"
            file="$(find herb_launch)/config/ros_control_controllers.yaml"/>

  <node name="ros_control_manager"
        pkg="controller_manager"
        type="spawner"
        args="--stopped --timeout 300 joint_state_controller force_torque_sensor_controller right_hand_controller right_tare_controller left_tare_controller right_gravity_compensation_controller right_joint_group_position_controller right_trajectory_controller left_gravity_compensation_controller left_joint_group_position_controller left_trajectory_controller bimanual_trajectory_controller"
        output="screen" />

</launch>
<!-- set ft=xml: -->
