<launch>
  <!-- Load the controllers -->
  <rosparam command="load" ns="schunk_robot/" file="$(find herb_launch)/config/schunk_controllers.yaml"/>

  <node name="schunk_pw70_ros" pkg="schunk_pw70_ros" type="schunk_robot" ns="schunk_robot/" output="screen"/>

  <!-- TODO timeout? -->
  <node name="schunk_ros_control_manager"
        pkg="controller_manager"
        type="spawner"
        args="--timeout 300 --namespace schunk_robot/
        joint_state_controller
        position_controller
        "
        output="screen" />

</launch>
