<launch>
    <node pkg="segway_rmp" type="segway_rmp_node" name="segway"
          output="screen" required="true" clear_params="true">
        <remap from="segway/cmd_vel" to="cmd_vel"/>
        <remap from="segway/odom" to="odom"/>
        <rosparam command="load" file="$(find herb_launch)/config/segway.yaml"/>
    </node>
</launch>
