<launch>
    <param name="robot_description"
           textfile="$(find herb_description)/robots/herb_no_left_bh280_right.urdf"/>
    <param name="semantic_robot_description"
           textfile="$(find herb_description)/robots/herb_no_left_bh280_right.srdf"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>

    <node pkg="herb_launch" type="segway_joint_relay.py" name="relay" ns="segway"/>
</launch>
