<launch>
    <param name="robot_description"
           textfile="$(find herb_description)/robots/herb.urdf"/>
    <param name="semantic_robot_description"
           textfile="$(find herb_description)/robots/herb.srdf"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>

<!--
    <node pkg="herb_launch" type="segway_joint_relay.py" name="relay" ns="segway"/>

    <node pkg="herb_launch" type="owd_joint_relay.py" name="relay" ns="head/owd"/>

    <node pkg="herb_launch" type="owd_joint_relay.py" name="relay" ns="right/owd"/>
    <node pkg="herb_launch" type="bhd_joint_relay.py" name="relay" ns="right/bhd"/>

    <node pkg="herb_launch" type="owd_joint_relay.py" name="relay" ns="left/owd"/>
    <node pkg="herb_launch" type="bhd_joint_relay.py" name="relay" ns="left/bhd"/>
-->
</launch>
