<launch>
  <!-- This extra arg only exists for backwards compatibility before Kinetic
       where Python expressions are supported -->
  <arg name="configure_hands" default="false"
       doc="Boolean flag of whether to use non-default hand options"/>
  <arg name="left_hand" default="bh280"
       doc="Which left hand option to use. Options: 'bh280', 'bh282', 'no'"/>
  <arg name="right_hand" default="bh282"
       doc="Which right hand option to use. Options: 'bh280', 'bh282', 'no'"/>

  <!-- Load default HERB model -->
  <group unless="$(arg configure_hands)">
    <param name="robot_description"
           textfile="/home/herb_home/ros_ws/devel/share/herb_description/robots/herb.urdf"/>
    <param name="semantic_robot_description"
           textfile="/home/herb_home/ros_ws/devel/share/herb_description/robots/herb.srdf"/>
  </group>

  <!-- OR -->

  <!-- Load HERB models with custom hand options -->
  <group if="$(arg configure_hands)">
    <param name="robot_description"
           textfile="/home/herb_home/ros_ws/devel/share/herb_description/robots/herb_$(arg left_hand)_left_$(arg right_hand)_right.urdf"/>
    <param name="semantic_robot_description"
           textfile="/home/herb_home/ros_ws/devel/share/herb_description/robots/herb_$(arg left_hand)_left_$(arg right_hand)_right.srdf"/>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>

  <!-- <node pkg="herb_launch" type="segway_joint_relay.py" name="relay" ns="segway"/> -->
</launch>
