<launch>
    <machine name="robot_fixed_transforms" address="herb0"  default="false"
             env-loader="/usr/local/share/pr/herb_launch.sh"/>
    
    <param name="robot_description" textfile="$(find herb_description)/robots/herb.urdf"/>
    
    <group>
        <!--<remap from="/tf" to="tf_static"/> -->
        <include file="$(find herb_launch)/launch/_launch.robot_fixed_transforms"/>
    </group>	 
    
</launch>
